.bb-win {
    position: relative;
    overflow: auto;
    border: 1px solid #aaa;
    box-shadow: 0 10px 10px #333;
    margin: 10px auto 25px;
    width: 90% !important;
}

.bb-mouse {
    position: absolute;
    z-index: 9999999;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.bb-vp {
    overflow: hidden;
}

.bb-doc {
    border: 0;
    outline: none;
}

.videowrapper {
    float: none;
    clear: both;
    width: 90%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
